In [114]:
import pandas as pd
import numpy as np

In [148]:
naics = pd.read_excel("2022_NAICS_Descriptions.xlsx")

In [149]:
naics.head()

,Code,Title,Description
0,11,"Agriculture, Forestry, Fishing and HuntingT","The Sector as a Whole\n\nThe Agriculture, Fore..."
1,111,Crop ProductionT,Industries in the Crop Production subsector gr...
2,1111,Oilseed and Grain FarmingT,This industry group comprises establishments p...
3,11111,Soybean FarmingT,See industry description for 111110.
4,111110,Soybean Farming,This industry comprises establishments primari...

In [150]:
naics['Code'] = naics['Code'].astype(str)

In [151]:
naics['Title'] = naics['Title'].str.replace("T$","",regex=True)

In [152]:
for idx in naics.loc[naics['Code'].str.contains('-')].index:
    s_codes = naics.loc[idx,'Code'].split('-')
    s_row = naics.loc[[idx]]
    for s_code in list(range(int(s_codes[0]),int(s_codes[1])+1)):
        s_row['Code'] = str(s_code)
        naics = pd.concat([naics,s_row])
naics = naics.loc[~naics['Code'].str.contains('-')]

In [161]:
naics_code = '111110'

In [168]:
def naics_lookup(naics_code):
    subCodes = [naics_code[:2],naics_code[:3],naics_code[:4],naics_code[:5],naics_code]
    titles = naics.loc[naics['Code'].isin(subCodes),'Title'].drop_duplicates().values
    return titles

In [172]:
def naics2sectors(naics_codes):
    res = []
    for naics_code in naics_codes:
        titles = naics_lookup(naics_code)
        res.append(titles[0])
    return res

In [173]:
def naics2industries(naics_codes):
    res = []
    for naics_code in naics_codes:
        titles = naics_lookup(naics_code)
        res.append(titles[-1])
    return res

In [174]:
naics2sectors(['111110','111199','332439'])

['Agriculture, Forestry, Fishing and Hunting',
 'Agriculture, Forestry, Fishing and Hunting',
 'Fabricated Metal Product Manufacturing']

In [175]:
naics2industries(['111110','111199','332439'])

['Soybean Farming', 'All Other Grain Farming', 'Manufacturing']